* {
  margin: 0px;
}

html,
body {
  --black: hsl(240, 6%, 135);
  --gray: hsl(240, 9%, 89%);
  height: 100%;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  display: grid;
  place-items: center;
}

main {
  background-image: url(images/background.svg);
  width: 375px;
  height: 812px;
  color: var(--gray);
}

.container {
  max-width: 250px;
  margin-right: auto;
  margin-left: auto;
  text-align: center;
}

.avatar span {
  position: absolute;
  top: 170px;
  z-index: 99;
}

h1 {
  font-size: 1.2em;
  margin-top: 1.5rem;
}

a {
  color: var(--gray);
  text-decoration: none;
  margin-top: 0.25rem;
  display: flex;
  gap: 0.75rem;
  justify-content: center;
}

p {
  margin-top: 2rem;
}

ul {
  margin-top: 4rem;
  list-style: none;
  padding: 0;
  display: flex;
  gap: 0.5em;
  justify-content: center;
}
